<div class="fullwidth-container1" data-background-alignment="top">
	<div class="pagetitle_overlay1"></div> <div class="container present-container center"><br><br><br>
	<div class="pageTitle">
	<h1 class="page_title" style="color:#fff;margin-left: 0;margin-right: 0;" class="vc_custom_heading h3-custom-css align-center">
   </h1>
	<h2 class="secondaryTitle">
	<!-- LOOK FORWARD TO HEAR FROM YOU! --><br>
	</h2>		  <div class="alma_breadcrumbs">
		<!-- <h5 style="color: #e8aaa0;text-align: center" class="vc_custom_heading h3-custom-css align-center">Our Recruiters</h5> -->
		<h2 style="color: #f9f9f9;text-align: center" class="vc_custom_heading h3-custom-css align-center">Placement cell</h2>
	</div>
	</div>
	
	</div> </div>
<div class="master_container master_container_bgwhite">
    <section class="page_content" id="section-524">
        <div class="container">
            <section class="wpb-content-wrapper">
                <div class="vc_row wpb_row vc_row-fluid vc_custom_1591888186702">
                    <div
                        class="wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <h3 style="font-size: 30px;text-align: center" class="vc_custom_heading align-center"><br><br>
                                    Placements</h3>
                                <div class="vc_empty_space" style="height: 10px"><span
                                        class="vc_empty_space_inner"></span></div>
                                <p style="font-size: 18px;text-align: center" class="vc_custom_heading">The Placement cell of the College closely monitors employment opportunities for our students in India and also abroad. Placement cell is in constant touch with reputed companies for Campus Recruitment of our eligible students. Many of our students are already placed in renowned companies like Infosys, TCS, L&T, CTS, Accenture, Mahindra, E&Y, Birla Cement, Bajaj Electricals, Indian Navy, BSNL and other coveted Corporate. .</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="upb_color" data-bg-override="ex-full" data-bg-color="#ffffff" data-fadeout
                    data-fadeout-percentage="30" data-parallax-content data-parallax-content-sense="30"
                    data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" data-rtl="false"
                    data-custom-vc-row data-vc="7.0" data-is_old_vc data-theme-support data-overlay="false"
                    data-overlay-color data-overlay-pattern data-overlay-pattern-opacity data-overlay-pattern-size>
                </div>
                <div class="vc_row wpb_row vc_row-fluid vc_custom_1634836459082">
                    <div
                        class="wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="partners-container noscroller withtooltip"  *ngFor="let item of this.data">
                                    <div class="partner-item1 col-md-3" style="height: 130px;line-height: 130px;"><a
                                            target="_blank" data-toggle="tooltip" data-placement="top"
                                            title="City Spa"><img title="City Spa"
                                                src="https://pgsedu.com/METSGROUP/public/images/{{item.image}}" style="width:100%;margin:auto;display: block;" /></a></div>
                                   
                                </div>
                                <script type="text/javascript">
                                    jQuery(document).ready(function () { jQuery('#partners-1.withtooltip .partner-item a, #partners-1.withtooltip .carousel-item a').tooltip(); });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
             
                <div class="vc_row-full-width vc_clearfix"></div>
               
            </section>
        </div>
    </section>
</div>