<div class="fullwidth-container1" data-background-alignment="top">
    <div class="pagetitle_overlay1"></div> <div class="container present-container center"><br><br><br>
    <div class="pageTitle">
    <h1 class="page_title" style="color:#fff;margin-left: 0;margin-right: 0;" class="vc_custom_heading h3-custom-css align-center">
   </h1>
    <h2 class="secondaryTitle">
    <!-- LOOK FORWARD TO HEAR FROM YOU! --><br>
    </h2> <div class="alma_breadcrumbs">
        <h5 style="color: #e8aaa0;text-align: center" class="vc_custom_heading h3-custom-css align-center">We offers</h5>
        <h2 style="color: #f9f9f9;text-align: center" class="vc_custom_heading h3-custom-css align-center">courses</h2>
    </div>
    </div>
    
    </div> </div>

       <div id="tsum-tabs">
  
           
          <main>
            
            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1">Met'S College Of Advanced Studies</label>
              
            <input id="tab2" type="radio" name="tabs">
            <label for="tab2">MET's School of Engineering</label>
              
            <input id="tab3" type="radio" name="tabs">
            <label for="tab3">MET'S Polytechnic College</label>
              
            <input id="tab4" type="radio" name="tabs">
            <label for="tab4">MET'S Global Enterpreneurship Program</label>

            <section id="content1">
                <div class="row">
                    <div class="vc_row-full-width vc_clearfix"></div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-3"  *ngFor="let item of this.mets_college">
                            <div class="vc_column-inner"><div class="wpb_wrapper">
                                <div class="ult-new-ib ult-ib-effect-style13  ult-ib-resp  " data-min-width="768" data-max-width="900" style="background: rgb(58, 55, 55); opacity: 1;" data-opacity="0.5" data-hover-opacity="0.8">
                                    <img class="ult-new-ib-img" style="opacity: 0.5;" alt="null" src="https://pgsedu.com/METSGROUP/public/images/{{item.course_thumbnail}}">
                                    <div id="interactive-banner-wrap-4974" class="ult-new-ib-desc">
                                        <h2 class="ult-new-ib-title ult-responsive" data-ultimate-target="#interactive-banner-wrap-4974 .ult-new-ib-title" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:22px;&quot;,&quot;line-height&quot;:&quot;&quot;}" style="font-family:'Dosis';font-weight:600;color:#ffffff;">{{item.title}}</h2>
                                        <div class="ult-new-ib-content ult-responsive" data-ultimate-target="#interactive-banner-wrap-4974 .ult-new-ib-content" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:14px;&quot;,&quot;line-height&quot;:&quot;&quot;}" style="font-family:'Open Sans';font-weight:normal;color:#eaeaea;">
                                            <p><br><b>Title: {{item.course_title}}</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </section>
              
            <section id="content2">
                <div class="row">
                    <div class="vc_row-full-width vc_clearfix"></div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-3"  *ngFor="let item of this.mets_engineering">
                            <div class="vc_column-inner"><div class="wpb_wrapper">
                                <div class="ult-new-ib ult-ib-effect-style13  ult-ib-resp  " data-min-width="768" data-max-width="900" style="background: rgb(58, 55, 55); opacity: 1;" data-opacity="0.5" data-hover-opacity="0.8">
                                    <img class="ult-new-ib-img" style="opacity: 0.5;" alt="null" src="https://pgsedu.com/METSGROUP/public/images/{{item.course_thumbnail}}">
                                    <div id="interactive-banner-wrap-4974" class="ult-new-ib-desc">
                                        <h2 class="ult-new-ib-title ult-responsive" data-ultimate-target="#interactive-banner-wrap-4974 .ult-new-ib-title" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:22px;&quot;,&quot;line-height&quot;:&quot;&quot;}" style="font-family:'Dosis';font-weight:600;color:#ffffff;">{{item.title}}</h2>
                                        <div class="ult-new-ib-content ult-responsive" data-ultimate-target="#interactive-banner-wrap-4974 .ult-new-ib-content" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:14px;&quot;,&quot;line-height&quot;:&quot;&quot;}" style="font-family:'Open Sans';font-weight:normal;color:#eaeaea;">
                                            <p><br><b>Title: {{item.course_title}}</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </section>
              
            <section id="content3">
                <div class="row">
                    <div class="vc_row-full-width vc_clearfix"></div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-3"  *ngFor="let item of this.mets_polytechnic">
                            <div class="vc_column-inner"><div class="wpb_wrapper">
                                <div class="ult-new-ib ult-ib-effect-style13  ult-ib-resp  " data-min-width="768" data-max-width="900" style="background: rgb(58, 55, 55); opacity: 1;" data-opacity="0.5" data-hover-opacity="0.8">
                                    <img class="ult-new-ib-img" style="opacity: 0.5;" alt="null" src="https://pgsedu.com/METSGROUP/public/images/{{item.course_thumbnail}}">
                                    <div id="interactive-banner-wrap-4974" class="ult-new-ib-desc">
                                        <h2 class="ult-new-ib-title ult-responsive" data-ultimate-target="#interactive-banner-wrap-4974 .ult-new-ib-title" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:22px;&quot;,&quot;line-height&quot;:&quot;&quot;}" style="font-family:'Dosis';font-weight:600;color:#ffffff;">{{item.title}}</h2>
                                        <div class="ult-new-ib-content ult-responsive" data-ultimate-target="#interactive-banner-wrap-4974 .ult-new-ib-content" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:14px;&quot;,&quot;line-height&quot;:&quot;&quot;}" style="font-family:'Open Sans';font-weight:normal;color:#eaeaea;">
                                            <p><br><b>Title: {{item.course_title}}</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </section>
            <section id="content4">
                <div class="row">
                    <div class="vc_row-full-width vc_clearfix"></div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-3"  *ngFor="let item of this.mets_enterpreneurship">
                            <div class="vc_column-inner"><div class="wpb_wrapper">
                                
                                <div class="ult-new-ib ult-ib-effect-style13  ult-ib-resp  " data-min-width="768" data-max-width="900" style="background: rgb(58, 55, 55); opacity: 1;" data-opacity="0.5" data-hover-opacity="0.8">
                                  
                                         <img class="ult-new-ib-img" style="opacity: 0.5;" alt="null" src="https://pgsedu.com/METSGROUP/public/images/{{item.course_thumbnail}}"  >
                                   
                                 <div id="interactive-banner-wrap-4974" class="ult-new-ib-desc" href="https://metgep.renderforestsites.com" >
                                        <h2 class="ult-new-ib-title ult-responsive" data-ultimate-target="#interactive-banner-wrap-4974 .ult-new-ib-title" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:22px;&quot;,&quot;line-height&quot;:&quot;&quot;}" style="font-family:'Dosis';font-weight:600;color:#ffffff;">{{item.title}}</h2>
                                        <div class="ult-new-ib-content ult-responsive" data-ultimate-target="#interactive-banner-wrap-4974 .ult-new-ib-content" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:14px;&quot;,&quot;line-height&quot;:&quot;&quot;}" style="font-family:'Open Sans';font-weight:normal;color:#eaeaea;">
                                            <p><br><b>Title: {{item.course_title}}</b></p>
                                            <a href="https://metgep.renderforestsites.com">read</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </section>
            
          </main>
          </div>