
.fullwidth-container1 {
   
    background-size: 100% auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(/assets/images/mets.jpg) rgba(22, 21, 22, 0.384) !important;

    background-blend-mode: multiply;
    background-color: rgba(58,55,55,0.8) !important;
    min-height: 400px;
  
}

