<div class="fullwidth-container1" data-background-alignment="top">
    <div class="pagetitle_overlay1"></div> <div class="container present-container center"><br><br><br>
    <div class="pageTitle">
    <h1 class="page_title" style="color:#fff;margin-left: 0;margin-right: 0;" class="vc_custom_heading h3-custom-css align-center">
   </h1>
    <h2 class="secondaryTitle">
    <!-- LOOK FORWARD TO HEAR FROM YOU! --><br>
    </h2>		  <div class="alma_breadcrumbs">
        <h5 style="color: #e8aaa0;text-align: center" class="vc_custom_heading h3-custom-css align-center">Our History</h5>
        <h2 style="color: #f9f9f9;text-align: center" class="vc_custom_heading h3-custom-css align-center">Corporate Advisory Board</h2>
    </div>
    </div>
    
    </div> </div>
  

<div class="vc_row wpb_row vc_row-fluid vc_custom_1635446615878 ult-vc-hide-row vc_row-has-fill" data-rtl="false" style="position: relative;" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true">
    <div class="upb_row_bg vcpb-default" data-upb_br_animation="" data-parallax_sense="30" data-bg-override="full" data-bg-animation="left-animation" data-bg-animation-type="h" data-animation-repeat="repeat" style="background-size: cover; background-repeat: no-repeat; background-color: #fff !important; width:  100% !important;">
    <div class="upb_bg_overlay" style="background-color:#fff">
    </div></div><div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper1">
            <div id="ultimate-heading-3563655efd30097d8" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-3563655efd30097d8 uvc-2783 " data-hspacer="no_spacer" data-halign="center" style="text-align:center">
                <div class="uvc-heading-spacer no_spacer" >
                </div>
                <div class="uvc-main-heading ult-responsive" data-ultimate-target=".uvc-heading.ultimate-heading-3563655efd30097d8 h2" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:37px;&quot;,&quot;line-height&quot;:&quot;&quot;}">
                   <br> <h2 style="font-family:'Open Sans';font-weight:300px;color:#333;">Our Members </h2>
                </div>
                <div class="uvc-sub-heading ult-responsive" data-ultimate-target=".uvc-heading.ultimate-heading-3563655efd30097d8 .uvc-sub-heading " data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:13px;&quot;,&quot;line-height&quot;:&quot;desktop:20px;&quot;}" style="font-family:'Open Sans';font-weight:normal;color:#ffffff;">Academic Advisory Board members
                </div>
            </div>
            <div class="ult-spacer spacer-655efd3009800" data-id="655efd3009800" data-height="20" data-height-mobile="20" data-height-tab="20" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div><div class="ult-ih-container ult-adjust-bottom-margin  " style="visibility: visible; opacity: 1;"> 
                <ul class="ult-ih-list " data-shape="square" data-width="250" data-height="250" style="text-align:center; ">
                    <li id="ult-ih-list-item-2798" class="ult-ih-list-item" style="height: 300px; width: 300px;  margin: 15px" *ngFor="let item of this.data">
                        <div style="height: 350px; width: 300px;padding:20px;margin-top:20px " class="ult-ih-item ult-ih-effect8 ult-ih-bottom_to_top ult-ih-square">
                            <div class="ult-ih-image-block-container">
                                 <div class="ult-ih-image-block" style="height: 300px; width: 300px; ">
                                     <div class="ult-ih-wrapper" style="border-style: solid; border-color: rgba(255,255,255,0.2); border-width: 10px;">
                                    </div> 
                                    <img class="ult-ih-image" src="https://pgsedu.com/METSGROUP/public/images/{{item.image}}" alt="null">
                                 </div>
                                 </div>
                                 <div class="info-container"> 
                                    <div class="ult-ih-info" style="background-color: #7c5852; "> 
                                    <div class="ult-ih-content"> 
                                        <div class="ult-ih-heading-block" style="">
                                             <h3 class="ult-ih-heading ult-responsive" style="color:#ffffff;" data-ultimate-target="#ult-ih-list-item-2798 .ult-ih-heading" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:22px;&quot;,&quot;line-height&quot;:&quot;desktop:28px;&quot;}">{{item.name}}</h3> 
                                            </div>
                                             <div class="ult-ih-divider-block" style="height:1px;">
                                                 <span class="ult-ih-line" style="border-style:solid;border-color:rgba(255,255,255,0.75);width:150px;border-width:1px;"></span> </div>
                                                  <div class="ult-ih-description-block" style="">
                                                     <div class="ult-ih-description ult-responsive" style="color:#ffffff;" data-ultimate-target="#ult-ih-list-item-2798 .ult-ih-description, #ult-ih-list-item-2798 .ult-ih-description p" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:12px;&quot;,&quot;line-height&quot;:&quot;desktop:18px;&quot;}"><p>{{item.description}}</p>
</div>
 </div> 
</div>
 </div>
</div>
</div>
</li>

 </ul></div></div></div></div></div><br><br><br>