<div class="fullwidth-container1" data-background-alignment="top">
    <div class="pagetitle_overlay1"></div> <div class="container present-container center"><br><br><br>
    <div class="pageTitle">
    <h1 class="page_title" style="color:#fff;margin-left: 0;margin-right: 0;" class="vc_custom_heading h3-custom-css align-center">
   </h1>
    <h2 class="secondaryTitle">
    <!-- LOOK FORWARD TO HEAR FROM YOU! --><br>
    </h2> <div class="alma_breadcrumbs">
        <h5 style="color: #e8aaa0;text-align: center" class="vc_custom_heading h3-custom-css align-center">WE CREATE AMAZING THINGS</h5>
        <h2 style="color: #f9f9f9;text-align: center" class="vc_custom_heading h3-custom-css align-center">WHAT WE DO</h2>
    </div>
    </div>
    
    </div> </div>
    <section class="page_content" id="section-445">
        <div class="container">
        <section class="wpb-content-wrapper">
            <div class="vc_column-inner"><div class="wpb_wrapper">
                <h2 style="font-size: 55px;text-align: center;padding:20px" class="vc_custom_heading wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_start_animation animated">LATEST EVENTS</h2>

</div>
</div>
   <div class="vc_row-full-width vc_clearfix"></div>
                <div class="vc_row wpb_row vc_row-fluid" class="vc_custom_heading wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_start_animation animated">
                    <div class="wpb_column vc_column_container vc_col-sm-3"  *ngFor="let item of this.data">
                        <div class="vc_column-inner"><div class="wpb_wrapper">
                            <div class="ult-new-ib ult-ib-effect-style13  ult-ib-resp  " data-min-width="768" data-max-width="900" style="background: rgb(58, 55, 55); opacity: 1;" data-opacity="0.5" data-hover-opacity="0.8">
                                <img class="ult-new-ib-img" style="opacity:0.8;" alt="null" src="https://pgsedu.com/METSGROUP/public/images/{{item.image}}">
                                <!-- <div id="interactive-banner-wrap-4974" class="ult-new-ib-desc">
                                    <h2 class="ult-new-ib-title ult-responsive" data-ultimate-target="#interactive-banner-wrap-4974 .ult-new-ib-title" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:22px;&quot;,&quot;line-height&quot;:&quot;&quot;}" style="font-family:'Dosis';font-size:20px;font-weight:800;color:#ffF;">{{item.title}}</h2>
                                    
                                </div> -->
                                <div >
                                    <h2 class="ult-new-ib-title ult-responsive" data-ultimate-target="#interactive-banner-wrap-4974 .ult-new-ib-title" data-responsive-json-new="" style="font-family:'Dosis';font-size:20px;font-weight:800;color:#ffF;">{{item.title}}</h2>

                                    <p style="font-family:'Dosis';font-size:14px;font-weight:600;color:#fff;margin-top:-20px"> <b>Time:{{item.date| date: 'dd/MM/yyyy'}},<br>Venue : {{item.venu}}</b></p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="vc_row wpb_row vc_row-fluid vc_custom_1591724719638">
                <div class="wpb_column vc_column_container vc_col-sm-2">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">

                        </div></div></div><div class="wpb_column vc_column_container vc_col-sm-8">
                            
</div>
        
</div>
        </section> </div>
        </section>
       
        

